.app {
  text-align: center;
  box-sizing: border-box;
  .header {
    display: flex;
    .boxicon {
      width: 20px;
      height: 20px;
      border: 1px solid black;
      background-color: gray;
      margin: 0px 5px;
    }
  }
  .body {
    margin: 1em;
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%
    }
    .column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      text-align: left;
      margin: 1em;
    }

    .markdownInput {
      border: 1px solid gray;
    }
    .markdownOutput {
      font-size: 0.8rem;
      line-height: 1.6rem;
    }
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.appLink {
  color: #61dafb;
}

.staticPublic {
  display: flex;
  align-items: center;

  code {
    padding: 4px 7px;
    margin: 0 4px;
    border-radius: 4px;
    background-color: rgb(30, 30, 30, .7);
    font-size: 13px;
  }
}